<div class="example-container mat-elevation-z8">
    <!-- <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div> -->
  
    <div class="example-table-container">
  
      <table mat-table [dataSource]="dataSource" class="example-table"
      matSort #empTbSort="matSort">
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Start Date</th>
          <td mat-cell *matCellDef="let row">{{row.startDate | date:'medium'}}</td>
        </ng-container>
  
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>End Date</th>
          <td mat-cell *matCellDef="let row">{{row.endDate | date:'medium'}}</td>
        </ng-container>
  
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>City</th>
          <td mat-cell *matCellDef="let row">{{row.city}}</td>
        </ng-container>
  
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            address
          </th>
          <td mat-cell *matCellDef="let row">{{row.address }}</td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>
              Delete
          </th>
          <td mat-cell *matCellDef="let row"> <button (click)="deleteLocation(row)" [disabled]="!patientId">X</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
  </div>
  <app-form *ngIf="patientId" [patientId]="patientId"  (addedLoc)="addLocation($event)"></app-form>